<!-- <nav class="navbar fixed-bottom navbar-light bg-light">
    <a class="navbar-brand" href="#">Fixed bottom</a>
  </nav> -->
<aside>
    <div class="mini-navbar-wrap">
        <div class="logo-wrap">
            <p class="logo">
                <ng-container class="logo">Извършване на действия</ng-container>
            </p>
        </div>
    </div>
    <nav>
        <ul>
            <li>
                <a routerLink="/claim">Claim</a>
            </li>
            <li>
                <!-- <li *ngIf="isLogged"> -->
                <a routerLink="/execution">Execution</a>
            </li>
            <!-- <li>
                <a routerLink="/profile">Profile - Temp link</a>
            </li> -->
            <li>
                <!-- <li *ngIf="isLogged"> -->
                <a routerLink="/appeal">Appeal</a>
            </li>
        </ul>
    </nav>

</aside>

<!-- <p  class="loading">edit works!</p> -->

<div *ngIf="!toEdit && client" class="row justify-content-center">
    <h1 class="row justify-content-center">Details</h1>
    <h4 class="row justify-content-center"> for {{client.FirstName}} {{client.LastName}}</h4>
    <!-- <h2>{{theme.themeName}}</h2> -->
    <!-- <p>Date: <time>{{theme.created_at}}</time></p> -->
    <p class="data"><span class="title">FirstName:</span> <span class="client-value">{{client?.FirstName}}</span>
        <span class="title">LastName:</span> <span class="client-value">{{client?.LastName}}</span>
    </p>

    <p class="data"><span class="title">EGN:</span> <span class="client-value">{{client?.EGN}}</span>
        <span class="title">Address:</span> <span class="client-value">{{client?.Address}}</span>
    </p>

    <p class="data"><span class="title">Abonat Number:</span> <span class="client-value">{{client?.AbonatNumber}}</span>
        <!-- <span class="title">Address:</span> <span class="client-value">{{client?.Address}}</span> -->
    </p>

    <p class="data"><span class="title">Principal:</span> <span class="client-value">{{client?.Principal}}</span>
        <!-- <span class="title">Address:</span> <span class="client-value">{{client?.Address}}</span> -->
    </p>
    <p class="data"><span class="title">Interest:</span> <span class="client-value">{{client?.Interest}}</span>
        <!-- <span class="title">Address:</span> <span class="client-value">{{client?.Address}}</span> -->
    </p>
    <p class="data"><span class="title">Invoices:</span> <span class="client-value">{{client?.Invoices}}</span>
        <!-- <span class="title">Address:</span> <span class="client-value">{{client?.Address}}</span> -->
    </p>
    <br>
    <button class="btn btn-primary detail" (click)="toEdit=true">Edit client</button>
    <button routerLink="/clients" class="btn btn-primary detail">Cancel</button>
</div>
<!-- --------------------------------------------------------------------------------------------------------------------- -->
<!-- --------------------------------------------------------------------------------------------------------------------- -->

<div class="row justify-content-center">
    <div class="col-4" *ngIf="client && toEdit">
        <h1>Edit Client</h1>
        <!-- --------------------------------------------------------------------------------------------------------------------- -->
        <form #editClient="ngForm" (ngSubmit)="edit(editClient)">

            <div class="mb-4">
                <label for="exampleInputEmail1" class="form-label">First Name</label>
                <input ngModel required minlength="3" #firstNameInput="ngModel" name="firstName" type="email"
                    class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    [ngModel]="client.FirstName">
            </div>
            <!------------------------------------------------------>
            <ng-container *ngIf="firstNameInput.touched && firstNameInput.invalid">
                <div *ngIf="firstNameInput.errors?.required" style="background-color: rgb(255, 133, 133);">First Name is
                    required!</div>
                <div *ngIf="firstNameInput.errors?.minlength" style="background-color: rgb(255, 133, 133);">First Name
                    must be 3 chars minimum</div>
            </ng-container>
            <!-- --------------------------------------------------------------------------------------------------------------------- -->

            <div class="mb-4">
                <label for="exampleInputEmail1" class="form-label">Last Name</label>
                <input ngModel required minlength="3" #lastNameInput="ngModel" name="lastName" type="text"
                    class="form-control" aria-describedby="lastName" [ngModel]="client.LastName">
            </div>
            <!------------------------------------------------------>
            <ng-container *ngIf="lastNameInput.touched && lastNameInput.invalid">
                <div *ngIf="lastNameInput.errors?.required" style="background-color: rgb(255, 133, 133);">Last Name is
                    required!</div>
                <div *ngIf="lastNameInput.errors?.minlength" style="background-color: rgb(255, 133, 133);">Last Name
                    must
                    be 3 chars!</div>
            </ng-container>
            <!-- --------------------------------------------------------------------------------------------------------------------- -->

            <div class="mb-4">
                <label for="exampleInputPassword1" class="form-label">EGN</label>
                <input ngModel required minlength="10" #egnInput="ngModel" name="egn" type="text" class="form-control"
                    id="exampleInputPassword1" [ngModel]="client.EGN">
            </div>
            <!------------------------------------------------------>
            <ng-container *ngIf="egnInput.touched && egnInput.invalid">
                <div *ngIf="egnInput.errors?.required" style="background-color: rgb(255, 133, 133);">EGN is
                    required!</div>
                <div *ngIf="egnInput.errors?.minlength" style="background-color: rgb(255, 133, 133);">EGN should
                    be 10 chars!</div>
            </ng-container>
            <!-- --------------------------------------------------------------------------------------------------------------------- -->

            <div class="mb-4">
                <label for="address" class="form-label">Address</label>
                <input ngModel required minlength="3" #AddressInput="ngModel" name="address" type="text"
                    class="form-control" id="address" [ngModel]="client.Address">
            </div>
            <!------------------------------------------------------>
            <ng-container *ngIf="AddressInput.touched">
                <div *ngIf="AddressInput.errors?.required" style="background-color: rgb(255, 133, 133);">Password
                    confirm
                    is required!</div>
                <div *ngIf="AddressInput.errors?.minlength" style="background-color: rgb(255, 133, 133);">Password
                    should
                    be 3 chars minimum!</div>
            </ng-container>
            <!-- --------------------------------------------------------------------------------------------------------------------- -->
            <div class="mb-4">
                <label for="abonatNumber" class="form-label">Abonat Number</label>
                <input ngModel required minlength="9" #AbonatNumberInput="ngModel" name="abonatNumber" type="text"
                    class="form-control" id="abonatNumber" [ngModel]="client.AbonatNumber">
            </div>
            <!------------------------------------------------------>
            <ng-container *ngIf="AbonatNumberInput.touched">
                <div *ngIf="AbonatNumberInput.errors?.required" style="background-color: rgb(255, 133, 133);">The number
                    of the client is required!</div>
                <div *ngIf="AbonatNumberInput.errors?.minlength" style="background-color: rgb(255, 133, 133);">The
                    number of the client is 9 characters!</div>
            </ng-container>

            <div class="mb-4">
                <label for="principal" class="form-label">Principal</label>
                <input ngModel #PrincipalInput="ngModel" name="principal" type="text"
                    class="form-control" id="principal" [ngModel]="client.Principal">
            </div>
            <!------------------------------------------------------>
            <div class="mb-4">
                <label for="interest" class="form-label">Interest</label>
                <input ngModel #InterestInput="ngModel" name="interest" type="text"
                    class="form-control" id="interest" [ngModel]="client.Interest">
            </div>
            <!------------------------------------------------------>
            <div class="mb-4">
                <label for="invoices" class="form-label">Invoices</label>
                <input ngModel #InvoicesInput="ngModel" name="invoices" type="text"
                    class="form-control" id="invoices" [ngModel]="client.Invoices">
            </div>
            <!------------------------------------------------------>

            <div>
                <button type="submit" class="btn btn-primary edit">Edit Client</button>
                <!-- <br> -->
                <button routerLink="/clients" class="btn btn-primary edit">Cancel</button>
            </div>
            <!-- <div>
                <p>Have an account?</p> 
                <a routerLink="/login">Login</a>
            </div> -->

        </form>
    </div>
</div>
<p *ngIf="!client" class="loading">Loading...</p>