/* p{
    height: 100vh;
    //width: 100vw;
    //background-image: url('https://media.istockphoto.com/photos/tihange-nuclear-power-station-picture-id909474696?k=6&m=909474696&s=612x612&w=0&h=qYwCIOnNkclnHbtMJicsZRVeB9l9i7ly04tQ1LJ8mqM=');
    background-image: url('../../../assets/powerPlant.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #cccccc;
} */