<!-- <p>claim works!</p> -->
<p *ngIf="!client">Loading...</p>

<div class="container" *ngIf="client">
    <header>
        <img class="logo" src="https://webprojectoct2020.blob.core.windows.net/publicimages/Logo2.jpg" alt="toplo-ruse-logo">
        <!-- <img class="logo" src="../../../../assets/Logo2.jpg" alt="toplo-ruse-logo"> -->
        <section class="title">
            <h5>ДО</h5> 
            <h5>РАЙОНЕН СЪД</h5>
            <h5>РУСЕ</h5>
            <h1>ИСКОВА МОЛБА</h1>
            <h4>от "Топлофикация Русе" АД</h4>
            <h6>със седалище и адрес на управление в гр. Русе, ул. "ТЕЦ Изток" № 1</h6>
            <p>представлявано от инж. Севдалин Желев Желев - изпълнителен директор, ЕИК 117005106</p>

            <p>чрез Борис Станчев – юрисконсулт</p>
            <P>срещу <span class="data">{{client.FirstName}} {{client.LastName}}</span> със адрес в
                <span class="data">{{client.Address}}</span>, с ЕГН <span class="data">{{client.EGN}}</span>
            </P>
            <p>цена на иска: <span class="data">{{client.Principal}}</span></p>
        </section>
    </header>

    <main>
        <h3 class="initial">Уважаеми господин (госпожо) Окръжен съдия,</h3>
        <p>Ответника е купувач на доставяна от дружеството ни топлинна енергия в имот в <span
                class="data">{{client.Address}}</span>
            с абонатен № <span class="data">{{client.AbonatNumber}}</span>. За периода от 01.08.2016 г. до 30.04.2017 г.
            в този имот дружеството ни е доставило и на ответника е продадена топлинна енергия на обща стойност
            <span class="data"> {{client.Principal}}</span> по <span class="data">{{client.Invoices}}</span> броя
            фактури, която енергия не е заплатена.
        </p>
        <p>
            Ответника ни дължи и лихва за забава за периода от падежа на всяка фактура, който е 30 дни след периода на
            доставка, до 26.10.2018 г. в размер на <span class="data">{{client.Interest}}</span>.
        </p>
        <p>За събиране на вземанията си подадохме заявление по реда на чл. 410 от ГПК по гражданско дело № 68893/2018 г.
            по описа на Софийски районен съд 142 гр. състав срещу ответника <span class="data">{{client.FirstName}}
                {{client.LastName}}</span> за дължимите суми, лихви и разноски. Същият съд ни даде указания, че следва
            да предявим иск относно вземането си, като в противен случай ще обезсили заповедта за изпълнение.</p>
        <p>
            По тези причини за нас възниква правния интерес от завеждане на настоящото исково производство за
            установяване на вземането ни.
        </p>
        <p>
            Поради изложеното и на основание чл. 422 от ГПК Ви молим да ни призовете на съд и след като се убедите в
            достоверността и основателността на гореизложеното да постановите решение, с което ДА ПРИЗНАЕТЕ ЗА
            УСТАНОВЕНО, че
            <span class="data">{{client.FirstName}} {{client.LastName}}</span>, EГН: <span
                class="data">{{client.EGN}}</span> ДЪЛЖИ на ''Топлофикация Русе'' ЕАД гр. Русе, ул. ''ТЕЦ Изток'', ЕИК
            117005106 сумата от <span class="data">{{client.Principal}}</span> - главница за продадена и доставена
            топлинна енергия за периода от 01.08.2016 г. до 30.04.2017 по <span class="data">{{client.Invoices}}</span>
            броя фактури,
            лихва за забава в размер на <span class="data">{{client.Interest}}</span>, която лихва е дължима за период
            01.06.2017 г. до 18.10.2018 г., законовата лихва върху главницата от 26.10.2018 г. до окончателното
            изплащане, като молим да ни присъдите съдебно - деловодните разноски в заповедното производство, както и
            съдебно – деловодните разноски за настоящото производство, включително и юрисконсултско възнаграждение.
        </p>
        <div class="evidence-title">
            <p class="evidence-text">ДОКАЗАТЕЛСТВА:</p>
            <p class="evidence-text">1.9 броя преписи от фактури;</p>
            <p class="evidence-text">2. Решение на ДКЕВР с извлечение от приложението;</p>
            <p class="evidence-text">3. Извлечение от сметка;</p>
            <p class="evidence-text">5. Заявление от 24.03.2004 г., удостоверение от РОС, Акт 9386/21.07.1994 г. за държавна собственост;</p>
            <p class="evidence-text">6. Уведомление вх. № ТС-403/26.08.2005 г.;</p>
            <p class="evidence-text">7. Договор № Д-216/16.09.2005 г.;</p>
            <p class="evidence-text">8. Договор № 606/16.09.2005 г.;</p>
            <p class="evidence-text">9. Решение № ОУ-06/16.07.2012 г.;</p>
            <p class="evidence-text">10. Писмо вх. № 3252/19.10.2005 г.;</p>
            <p class="evidence-text">11. Писмо изх. № 126/02.12.2005 г.;</p>
            <p class="evidence-text">12. Молба вх. № ТС-598/05.12.2005 г.;</p>
            <p class="evidence-text">13. Споразумение № 10/03.11.2016 г.;</p>
            <p class="evidence-text">14. Заповед № 140/05.06.2017 г.;</p>
            <p class="evidence-text">15. Протокол от 06.06.2017 г.;</p>
            <p class="evidence-text">16. Писмо вх. № 730/14.06.2017 г.;</p>
            <p class="evidence-text">17. Писмо изх. № ТТЕ-289/05.07.2017 г. с обратна разписка.</p>
        </div>
        <p>
            ОСОБЕНО ИСКАНЕ:
            1. Молим да изискате и приложите като доказателство по делото гр. дело № 68893/2018 г. по описа на Софийски
            районен
            съд 142 гр. състав.
            2. Молим делото да се разгледа дори и при отсъствие на наш представител.
        </p>

        <p>
            ПРИЛОЖЕНИЕ: препис от молбата и доказателствата за ответната страна, пълномощно, внесена държавна такса.
        </p>

        <div id="sign">
            ЮРИСКОНСУЛТ:________________

            <div>(Б. СТАНЧЕВ)</div>
            <img id="signature" src="https://webprojectoct2020.blob.core.windows.net/publicimages/signiture.png" alt="">

        </div>

    </main>
</div>