<!-- <p>new works!</p> -->
<div class="row justify-content-center">
    <div class="col-4">
        <h1>Create new Client</h1>
        <form #createClient="ngForm" (ngSubmit)="create(createClient)">

            <div class="mb-4">
                <label for="firstName" class="form-label">First Name</label>
                <input ngModel required minlength="3" #firstNameInput="ngModel" name="firstName" type="email"
                    class="form-control" id="firstName" aria-describedby="emailHelp">
            </div>
            <ng-container *ngIf="firstNameInput.touched && firstNameInput.invalid">
                <div *ngIf="firstNameInput.errors?.required" style="background-color: rgb(255, 133, 133);">First Name is
                    required!</div>
                <div *ngIf="firstNameInput.errors?.minlength" style="background-color: rgb(255, 133, 133);">First Name
                    must be 3 chars minimum</div>
            </ng-container>

            <div class="mb-4">
                <label for="lastName" class="form-label">Last Name</label>
                <input ngModel required minlength="3" #lastNameInput="ngModel" name="lastName" type="text"
                    class="form-control" id="lastName" aria-describedby="Username">
            </div>
            <ng-container *ngIf="lastNameInput.touched && lastNameInput.invalid">
                <div *ngIf="lastNameInput.errors?.required" style="background-color: rgb(255, 133, 133);">Last Name is
                    required!</div>
                <div *ngIf="lastNameInput.errors?.minlength" style="background-color: rgb(255, 133, 133);">Last Name
                    must
                    be 3 chars!</div>
            </ng-container>

            <div class="mb-4">
                <label for="EGN" class="form-label">EGN</label>
                <input ngModel required minlength="10" #egnInput="ngModel" name="egn" type="text" class="form-control"
                    id="EGN">
            </div>
            <ng-container *ngIf="egnInput.touched && egnInput.invalid">
                <div *ngIf="egnInput.errors?.required" style="background-color: rgb(255, 133, 133);">EGN is
                    required!</div>
                <div *ngIf="egnInput.errors?.minlength" style="background-color: rgb(255, 133, 133);">EGN should
                    be 10 chars!</div>
            </ng-container>

            <div class="mb-4">
                <label for="address" class="form-label">Address</label>
                <input ngModel required minlength="3" #AddressInput="ngModel" name="address" type="text"
                    class="form-control" id="address">
            </div>
            <ng-container *ngIf="AddressInput.touched">
                <div *ngIf="AddressInput.errors?.required" style="background-color: rgb(255, 133, 133);">Password
                    confirm
                    is required!</div>
                <div *ngIf="AddressInput.errors?.minlength" style="background-color: rgb(255, 133, 133);">Password
                    should
                    be 3 chars minimum!</div>
            </ng-container>

            <div class="mb-4">
                <label for="abonatNumber" class="form-label">Abonat Number</label>
                <input ngModel required minlength="9" #AbonatNumberInput="ngModel" name="abonatNumber" type="text"
                    class="form-control" id="abonatNumber">
            </div>
            <ng-container *ngIf="AbonatNumberInput.touched">
                <div *ngIf="AbonatNumberInput.errors?.required" style="background-color: rgb(255, 133, 133);">The number
                    of the client is required!</div>
                <div *ngIf="AbonatNumberInput.errors?.minlength" style="background-color: rgb(255, 133, 133);">The
                    number of the client is 9 characters!</div>
            </ng-container>

            <div class="mb-4">
                <label for="principal" class="form-label">Principal</label>
                <input ngModel #PrincipalInput="ngModel" name="principal" type="text" class="form-control" id="principal">
            </div>
            <div class="mb-4">
                <label for="interest" class="form-label">Interest</label>
                <input ngModel #InterestInput="ngModel" name="interest" type="text" class="form-control" id="interest">
            </div>
            <div class="mb-4">
                <label for="invoices" class="form-label">Invoices</label>
                <input ngModel #InvoicesInput="ngModel" name="invoices" type="text" class="form-control" id="invoices">
            </div>
            <button type="submit" class="btn btn-primary">Create Client</button>
            <!-- <div>
                <p>Have an account?</p> 
                <a routerLink="/login">Login</a>
            </div> -->

        </form>
    </div>
</div>