<p *ngIf="!client">Loading...</p>


<div class="container" *ngIf="client">
	<header>
		<img class="logo" src="https://webprojectoct2020.blob.core.windows.net/publicimages/Logo2.jpg" alt="toplo-ruse-logo">
		<section class="title">
			<h5>ЧРЕЗ</h5>
			<h5>РАЙОНЕН СЪД</h5>
			<h5 style="padding-bottom: 20px;">гр. РУСЕ</h5>
			<h5>ДО</h5>
			<h5>ОКРЪЖЕН СЪД</h5>
			<h5 style="padding-bottom: 20px;">гр. РУСЕ</h5>
			<h1>ЖАЛБА</h1>
			<h4>от "Топлофикация Русе" АД</h4>
			<h6>със седалище и адрес на управление в гр. Русе, ул. "ТЕЦ Изток" № 1</h6>
			<p>представлявано от инж. Севдалин Желев Желев - изпълнителен директор, ЕИК 117005106</p>

			<p>чрез Борис Станчев – юрисконсулт</p>
			<p>ПРОТИВ:</p>
			<p>срещу: Решение № 1741 от 25.10.2019 г. по гр. дело № 1438 по описа за 2016 г. на Русенски районен съд 7
				граждански състав</p>

			<p>цена на иска: <span class="data">{{client.Principal}}</span></p>
		</section>
	</header>

	<main>
		<h3 class="initial">УВАЖАЕМИ ОКРЪЖНИ СЪДИИ,</h3>
		<p>Представяме Ви изпълнителен лист против <span class="data">{{client.FirstName}}
				{{client.LastName}}</span>. Молим да го приведете в изпълнение, като съберете
			дължимите суми от <span class="data">{{client.Principal}}</span>, както и разноските по изпълнителното дело.
		</p>
		<p>Не сме доволни от горепосоченото решение на русенски районен съд, поради което го обжалваме пред Вас в срок
			като молим да бъде отменено изцяло и вместо него да постановите друго решение, с което да уважите изцяло
			предявения иск срещу {{client.FirstName}} {{client.LastName}} за сумата {{client.Principal}} и лихва
			{{client.Interest}}, и да ни присъдите разноските за двете инстанции, включително юрисконсултски
			възнаграждения за всяка инстанция.
		</p>
		<p>
			ПРИЛОЖЕНИЕ: препис от жалбата, държавна такса.</p>

		<div id="sign">
			ЮРИСКОНСУЛТ:________________

			<div>(Б. СТАНЧЕВ)</div>
			<img id="signature" src="https://webprojectoct2020.blob.core.windows.net/publicimages/signiture.png" alt="">

		</div>

	</main>
</div>
