<div class="row justify-content-center">
    <div class="col-4">
        <h1>Register</h1>
        <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">

            <div class="mb-4">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input ngModel required email #emailInput="ngModel" name="email" type="email" class="form-control"
                    id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <ng-container *ngIf="emailInput.touched && emailInput.invalid">
                <div *ngIf="emailInput.errors?.required" style="background-color: rgb(255, 133, 133);">Email is
                    required!</div>
                <div *ngIf="emailInput.errors?.email" style="background-color: rgb(255, 133, 133);">Email is invalid!
                </div>
            </ng-container>

            <div class="mb-4">
                <label for="exampleInputEmail1" class="form-label">Username</label>
                <input ngModel required minlength="3" #userNameInput="ngModel" name="name" type="text"
                    class="form-control" aria-describedby="Username">
            </div>
            <ng-container *ngIf="userNameInput.touched && userNameInput.invalid">
                <div *ngIf="userNameInput.errors?.required" style="background-color: rgb(255, 133, 133);">Username is
                    required!</div>
                <div *ngIf="userNameInput.errors?.minlength" style="background-color: rgb(255, 133, 133);">Username must
                    be 3 chars!</div>
            </ng-container>

            <div class="mb-4">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input ngModel required minlength="3" #passInput="ngModel" name="password" type="password"
                    class="form-control" id="exampleInputPassword1">
            </div>
            <ng-container *ngIf="passInput.touched && passInput.invalid">
                <div *ngIf="passInput.errors?.required" style="background-color: rgb(255, 133, 133);">Password is
                    required!</div>
                <div *ngIf="passInput.errors?.minlength" style="background-color: rgb(255, 133, 133);">Password should
                    be 3 chars minimum!</div>
            </ng-container>

            <div class="mb-4">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input ngModel required minlength="3" #rePassInput="ngModel" name="confirmPassword" type="password"
                    class="form-control" id="confirmPassword">
            </div>
            <ng-container *ngIf="rePassInput.touched">
                <div *ngIf="rePassInput.errors?.required" style="background-color: rgb(255, 133, 133);">Password confirm
                    is required!</div>
                <div *ngIf="rePassInput.errors?.minlength" style="background-color: rgb(255, 133, 133);">Password should
                    be 3 chars minimum!</div>
                <div *ngIf="rePassInput.value !== passInput.value" style="background-color: rgb(255, 133, 133);">
                    Passwords doesn't match!</div>
            </ng-container>

            <button type="submit" class="btn btn-primary">Register</button>
            <div>
                <p>Have an account?</p> 
                <a routerLink="/login">Login</a>
            </div>

        </form>
    </div>
</div>