<p *ngIf="!client">Loading...</p>

<div class="container" *ngIf="client">
	<header>
		<img class="logo" src="../../../../assets/Logo2.jpg" alt="toplo-ruse-logo">
		<section class="title">
			<h5>ДО</h5>
			<h5>ЧАСТЕН СЪДЕБЕН ИЗПЪЛНИТЕЛ</h5>
			<h5>СЪДЕБЕН РАЙОН</h5>
			<h5>РУСЕ</h5>
			<h1>МОЛБА</h1>
			<h4>от "Топлофикация Русе" АД</h4>
			<h6>със седалище и адрес на управление в гр. Русе, ул. "ТЕЦ Изток" № 1</h6>
			<p>представлявано от инж. Севдалин Желев Желев - изпълнителен директор, ЕИК 117005106</p>

			<p>чрез Борис Станчев – юрисконсулт</p>
			<p>ПРОТИВ:</p>
			<P><span class="data">{{client.FirstName}} {{client.LastName}}</span> със адрес в
				<span class="data">{{client.Address}}</span>, с ЕГН <span class="data">{{client.EGN}}</span>
			</P>
			<p>цена на иска: <span class="data">{{client.Principal}}</span></p>
		</section>
	</header>

	<main>
		<h3 class="initial">ГОСПОДИН (ГОСПОЖО) СЪДИЯ – ИЗПЪЛНИТЕЛ,</h3>
		<p>Представяме Ви изпълнителен лист против <span class="data">{{client.FirstName}}
				{{client.LastName}}</span>. Молим да го приведете в изпълнение, като съберете
			дължимите суми от <span class="data">{{client.Principal}}</span>, както и разноските по изпълнителното дело.</p>
		<p>
			Молим да се изпрати на длъжника призовка за доброволно плащане на дължимите суми.
		</p>
		<p>
			СПОСОБИ ЗА ИЗПЪЛНЕНИЕ:
		</p>
		<p>
			В случай, че длъжника не изплати присъдените ни суми в срока за доброволно плащане, молим да пристъпите към:
		</p>
		<p>
			-запор на трудовото възнаграждение или пенсията на длъжника, след като се изиска справка от НОИ за
			регистрирани трудови правоотношения или отпусната пенсия;
		</p>
		<p>
			-запор на лични МПС, след като се изиска справка от “ПП – КАТ” при РДВР Русе;
		</p>
		<p>
			-възбрана на недвижимите имоти и запор на банкови сметки, след справка от Данъчна служба по местоживеене.
		</p>
		<p>
			-опис на движимото имущество на длъжника, находящо се в жилището му.
		</p>
		<p>
		ПРИЛОЖЕНИЕ: 1. Изпълнителен лист; 2. Квитанция за внесена държавна такса, 3. Пълномощно</p>
		
		<div id="sign">
			ЮРИСКОНСУЛТ:________________

			<div>(Б. СТАНЧЕВ)</div>
			<img id="signature" src="../../../../assets/signiture.png" alt="">

		</div>

	</main>
</div>
