<p *ngIf="!isLogged">all works! but you should be logged in</p>
<div *ngIf="isLogged">
    <table class="table table-bordered table-hover" *ngIf="clients">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">EGN</th>
                <th scope="col">Address</th>
                <th scope="col">Abn Number</th>
                <th scope="col">Principal</th>
                <th scope="col">Interest</th>
                <th scope="col">Invoices</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let client of clients; let i = index" [routerLink]="['/clients', client.objectId]">
                <td>{{i+1}}</td>
                <td>{{client.FirstName}}</td>
                <td>{{client.LastName}}</td>
                <td>{{client.EGN}}</td>
                <td>{{client.Address}}</td>
                <td>{{client.AbonatNumber}}</td>
                <td>{{client.Principal}}</td>
                <td>{{client.Interest}}</td>
                <td>{{client.Invoices}}</td>
            </tr>

        </tbody>
    </table>
    <div *ngIf="!clients">Loading...</div>
</div>

<!-- -------------------------------------------------- -->
<!-- <div class="theme-title" *ngIf="clients" > -->